streamlit==1.32.0

crewai==0.11.2
langchain==0.1.20
langchain-community==0.0.38
langchain-openai==0.0.5

openai==1.10.0
tavily-python==0.3.3

pandas==2.2.2
numpy==1.26.4
yfinance==0.2.37

plotly==5.20.0
python-dotenv==1.0.1

faiss-cpu==1.7.4

pydantic==2.6.4
tiktoken==0.5.2